@import 'src/g_variable.scss';

.menu__wrapper {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    display: flex;
    background: rgba($color: $purple__opacity, $alpha: 0.3);
    justify-content: space-around;
    align-items: center;
    li {
        font-size: size_mode(0.8);
        list-style: none;
        cursor: pointer;
        color: #fff;
        position: relative;
        transition: .3s;
        &:after {
            transition: .3s;
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 0;
            background: $gold;
        }
        &:hover {
            color: #ead99b;
        }
        &:hover::after {
            transition: .3s;
            width: 100%;
        }
    }
}
.menu__wrapper_block {
    display: flex;
    padding-right: 20px;
    width: 100%;
    text-align: center;
    justify-content: space-around;
}
.logo {
    background-image: url(../../../Assets/Images/logo_header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    // border: 1px solid #000;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -80px) scale(1.1);
}
.mobile_menu {
    left: 10px;
    position: absolute;
    font-size: 2.4rem;
    color: #fff;
    display: none;
}
.MobileMenu {
    position: absolute;
    width: 25%;
    background: #4C3C61;
    left: 0;
    top: 70px;
    width: 100%;
    padding: 20px;
    z-index: 10; 
    li {
        font-size: 1rem;
        list-style: none;
        cursor: pointer;
        color: #fff;
        position: relative;
        transition: .3s;
        margin: 20px 0;
    }
}
.blacSCreenMenu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 9;
}
@media screen and (max-height: 800px) {
    .logo {
        width: 80px;
        height: 80px; 
    }
}
@media screen and (max-width: 1024px) {
    .menu__wrapper {
        height: 70px;
        z-index: 10;
        background: #4C3C61;
    }
    .logo {
        display: none;
    }

    .menu__wrapper_block {
        padding: 0;
    }
}
@media screen and (max-width: 1024px) {
    .mobile_menu {
        display: block;
    }
    .menu__wrapper li {
        display: none;
    }
}