@import 'src/g_variable.scss';

.header__content {
    min-height: calc(100vh - 100px);
    position: relative;
    padding-top: 20px;
    &:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        clip-path: polygon(0 0, 100% 74%, 100% 100%, 0% 100%);
        background: rgba($color: $purple__opacity, $alpha: 0.3);
        width: 100%;
        height: 50px;
    }
}
.absolute__header__content_righttext {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    max-width: 30vw;
    height: 100%;
}
.righttext__vertical_text {
    font-size: size_mode(3.5);
    background: linear-gradient(141.08deg,#efce73 25.79%,#fef0b7 63.66%,#cea86f 97.07%);
    background-repeat: no-repeat;
    background-origin: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotate(180deg) translate(-200px, 0);
    writing-mode: tb-rl;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-family: "FuturaPT";
}
.righttext__mainblock {
    position: relative;
    left: 20%;
    top: 50px;
    .righttext__mainblock_header {
        font-size: size_mode(1.5);
        line-height: 1;
        opacity: 0;
        font-weight: bold;
        transform: translateY(50%);
        p {
            white-space: nowrap;
            background: linear-gradient(141.08deg,#efce73 25.79%,#fef0b7 63.66%,#cea86f 97.07%);
            background-repeat: no-repeat;
            background-origin: content-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: .3;
        }
    }
    .righttext__mainblock_content {
        transform: translateY(25%);
        // border: 2px solid #5A0587;
        padding: 20px;
        padding-top: 0;
        p {
            margin: 10px 0;
            font-size: size_mode(1);
        }
    }
}
.word__header_black {
    position: relative;
    overflow: hidden;
    div {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        bottom: 0;
        background: #070509;
        z-index: 2;
    }
}
.absolute__header__content_lefttext, .absolute__header__content_lefttext_copy {
    position: absolute;
    right: 30px;
    bottom: 0;
    padding: 20px;
    padding-bottom: 80px;
    background: linear-gradient(45deg, rgba(246, 175, 71, 0.7),rgba(104, 51, 173, 0.7));
    max-width: 20%;
    min-height: 200px;
    color: #fff;
    transform: translateY(30px);
}
.absolute__header_topText {
    position: absolute;
    right: 100px;
    top: 25%;
    color: #fff;
    background: transparent;
}
.topText__mainblock_header {
    font-size: size_mode(.8);
    max-width: 300px;
    ul {
        margin: 20px 0;
    }
    li {
        list-style: none;
        display: flex;
        justify-content: flex-start;
    }
}
.absolute__header__content_lefttext_copy {
    transform: translate(-10px, 20px);
    width: 100%;
    height: 165px;
    opacity: .3;
    z-index: 0;
}
.absolute__header__content_lefttext {
    z-index: 1;
}
.lefttext__mainblock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    p {
        font-size: size_mode(1);
        text-align: center;
    }
}
.lefttext__mainblock_content .btnBaner {
    padding: 5px 40px;
    margin-top: 10px;
    width: 100%;
    font-size: size_mode(1);
}
.backgrond__video {
    position: absolute;
    min-height: 870px;
    display: block;
    width: 100%;
    max-width: 2560px;
    z-index: 0;
    overflow: hidden;
    video {
        position: absolute;
        display: block;
        position: relative;
        margin: 0 auto;
        z-index: 0;
        width: 100%;
    }
    .black__screen {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        background: rgba($color: #000000, $alpha: 0.75);

    }
}
.myindex__content {
    position: relative;
    z-index: 1;
}
.wrapper__padding_top {
    padding-top: $size-logo;
    position: relative;
    z-index: 1;
}
.wrapper__item_phone {
    display: flex;
    justify-content: center;
    opacity: 0;
    padding-top: 40px;
    padding-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    transform: translateX(50px);
}
.Loader__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000000;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    z-index: 100;
    .wrapper__header_bezlimit {
        position: relative;
        overflow: hidden;
    }
    h1 {
        font-family: 'ALSAlumna';
        font-size: size_mode(2);
        font-weight: 300;
        background: linear-gradient(141.08deg,#efce73 25.79%,#fef0b7 63.66%,#cea86f 97.07%);
        background-repeat: no-repeat;
        background-origin: content-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    img {
        object-fit: contain;
        width: 200px;
        height: auto;   
    }
}

//ANIMATION GSAP
.linesParent {
    overflow: hidden;
    position: absolute;
    display: block;
    left: 0px;
    top: 100px;
    height: 100%;
    width: 100px;
}
@media screen and (max-width: 1600px)  {
    .backgrond__video video {
        width: 125%;
    }
}
@media screen and (max-width: 1024px)  {
    .backgrond__video video {
        // display: none;
        width: 170%;
        background: orange;
    }
    .wrapper__item_phone {
        justify-content: flex-end;
        margin-right: 20px;
    }
    .absolute__header__content_righttext {
        max-width: 100%;
    }
    .linesParent {
        display: flex;
        justify-content: flex-start;
        margin-left: 30px;
        overflow: auto;
        top: 0;
    }        
    .righttext__vertical_text {
        transform: rotate(0deg) translate(0, 0);
        writing-mode: horizontal-tb;
    }
    .righttext__mainblock {
        left: 0;
    }
    .righttext__mainblock_content {
        max-width: 50%;
        margin-left: 5px;
    }
    .righttext__mainblock .righttext__mainblock_header {
        padding-left: 30px;
    }
    .absolute__header__content_lefttext, .absolute__header__content_lefttext_copy {
        left: 30px;
    }
}
@media screen and (max-width: 768px)  {
    .absolute__header__content_lefttext, .absolute__header__content_lefttext_copy {
        max-width: 25%;
        min-height: none;
    }
}
@media screen and (max-width: 750px)  {
    .backgrond__video video {
        display: none;
    }
}
@media screen and (max-width: 650px)  {
    .header__content {
        background: gray;
    }
    .absolute__header__content_righttext {
        position: relative;
    }
    .righttext__mainblock_content {
        max-width: 100%;
        p {
            font-size: 1.6rem;
        }
    }
    .righttext__mainblock .righttext__mainblock_content {
        transform: translate(0);
        p {
            font-size: 1.1rem;
            text-align: center;
        }
    }
    .linesParent {
        position: relative;
        max-width: 80%;
        height: 50px;
        text-align: center;
        margin: 0 auto;
        .righttext__vertical_text {
            width: 100%;
        }
    }
    .righttext__mainblock {
        top: 0;
    }
    .wrapper__item_phone {
        margin-right: 0;
        justify-content: center;
    }
    .absolute__header__content_lefttext {
        position: relative;
    }
    .righttext__mainblock .righttext__mainblock_header {
        text-align: center;
        padding-left: 0;
        transform: translate(0);
        margin: 20px 0;
    }
    .absolute__header__content_lefttext, .absolute__header__content_lefttext_copy {
        max-width: 80%;
        min-height: 0;
    }
    .lefttext__mainblock_header p, .btnBaner {
        font-size: 1.2rem !important;
    }
}