@font-face {
  font-family: 'Ubunto_normal';
  font-style: normal;
  font-weight: normal;
  src: url(./Fonts/Ubuntu-Medium.ttf);
}

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box; 
}
html, body, #root{
  height: 100%;
}
body {
  font-family: Ubunto_normal, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 8px;       
  background: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background: linear-gradient(45deg, #D4C897,#AB9C5E, #D4C897);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: #000;
  transition: .8s;
}
.btn:hover {
  transition: .4s;
  color: #fff; 
}

.LineDefault {
  width: 1px;
  position: absolute;
  left: 27px;
  top: 0;
  height: 100%;
  background: #fff;
  opacity: .3;
}
.attention {
  color: #ff5d5d;
}
@media screen and (max-width: 1600px)  {
  .LineDefault {
    width: 0.07;
  }
}

@media screen and (max-width: 1024px)  {
  .LineDefault {
    width: 0;
  }
}