@import 'src/g_variable.scss';

.WhyUs__wrapper {
    min-height: 100vh;
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #fff;
    &:after{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      clip-path: polygon(0 0, 100% 74%, 100% 100%, 0% 100%);
      background: rgba($color: #9888AD, $alpha: 0.3);
      width: 100%;
      height: 50px;
      transform: rotate(180deg);
    }
    &:before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        clip-path: polygon(0 0, 100% 74%, 100% 100%, 0% 100%);
        background: rgba($color: #9888AD, $alpha: 0.3);
        width: 100%;
        height: 50px;
    }
}
.WhyUs__wrapper_hidden {
    position: relative;
    overflow: hidden;
}
.WhyUs_sub_title {
    font-size: 2rem;
    max-width: 100%;
    margin-bottom: 20px;
    text-align: center;
}
.WhyUs_sub_title_margin {
    margin: 20px;
}
.WhyUs_answer {
    padding-left: 50px;
    li {
        font-size: 1.5rem;
        text-align: left;
        font-weight: 100;
        max-width: 100%;
        position: relative;
    }
}
.wrapper_content_whyUs {
    background: $purple__opacity;
    max-width: 60%;
    margin: 0 auto;
    color: #fff;
    padding: 10px;

}
.WhyUs_content {
    font-size: 1.65rem;
    max-width: 80%;
    margin: 30px auto;
    text-align: center;
}

@media screen and (max-width: 1500px) {
    .WhyUs_content {
        font-size: 1.3rem;
        margin: 20px auto;
    }
    .WhyUs_sub_title {
        font-size: 1.6rem;
    }
    .WhyUs_answer li {
        font-size: 1.2rem;
    }
  }
@media screen and (max-width: 1024px) {
    .WhyUs__wrapper {
        &:after {
            display: none;
        }
        &:before {
            display: none;
        }
    }
    .lefttext__block {
        display: none;
    }
    .WhyUs_sub_title_margin {
        display: none;
    }
    .WhyUs_content {
        font-size: 1.1rem;
    }
    .WhyUs_sub_title {
        font-size: 1.4rem;
    }
    .WhyUs_answer li {
        font-size: 1rem;
    }
}
@media screen and (max-width: 768px) {
    .WhyUs_content {
        max-width: 90%;
    }
    .wrapper_content_whyUs {
        max-width: 80%;
    }
}
@media screen and (max-width: 650px) {
    .WhyUs__wrapper {
        padding: 50px 0;
    }
    .WhyUs_content {
        font-size: 1rem;
    }
    .WhyUs_sub_title {
        font-size: 1.3rem;
    }
    .WhyUs_answer li {
        font-size: .9rem;
    }
}
@media screen and (max-width: 425px) {
    .WhyUs__wrapper {
        justify-content: center;
        padding: 5px;
    }
    .WhyUs_content {
        font-size: .9rem;
        margin: 10px auto;
    }
    .WhyUs_sub_title {
        font-size: 1.2rem;
    }
    .WhyUs_answer li {
        font-size: .9rem;
    }
    .WhyUs_answer {
        padding-left: 20px;
    }
    .wrapper_content_whyUs, .WhyUs_content {
        max-width: 100%;
    }
}