@import 'src/g_variable.scss';

.Footer__wrapper {
    width: 100%;
    padding: 20px;
    padding-left: 28px;
    overflow: hidden;
    height: 300px;
    background: #fff;
    color: #000;
    position: relative;
    z-index: 1000;
    h2 {
        font-size: 3rem;  
        margin-left: 50px;
        background: linear-gradient(141.08deg,#efce73 25.79%,#fef0b7 63.66%,#cea86f 97.07%);
        background-repeat: no-repeat;
        background-origin: content-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.wrapper__footer {
    margin: 20px auto;
    margin-left: 50px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.wrapper__footer_item {
    p {
        margin: 10px;
    }
}
.custom_footer_lefttext__block {
    color: #fff;
    bottom: 10px;
}
.number_list {
    width: 100%;
    box-sizing: border-box;
    background: $purple__opacity;
    padding: 20px;
    position: absolute;
    color: #fff;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    li {
        margin: 0 10px;
        text-align: center;
    }
}
.header_foter_text {
    font-weight: bold;
    font-size: 1.3rem;
    color: $gold;
}
@media screen and (max-width: 1550px) {
    .Footer__wrapper {
        height: 350px;
    }
    .number_list {
        flex-direction: column;
        align-items: flex-start;
        li {
            list-style: none;
        }
    }
}
@media screen and (max-width: 1300px) {
    .wrapper__footer_item p {
        max-width: 80%;
    }
    .Footer__wrapper {
        height: 400px;
    }
}
@media screen and (max-width: 1024px) {
    .wrapper__footer {
        flex-direction: column;
        margin: 0;
    }
    .wrapper__footer_item p {
        max-width: 100%;
    }
    .number_list {
        transform: translateX(-50px);
        width: 120%;
    }
    .Footer__wrapper h2 {
        font-size: 3rem;
    }
}
@media screen and (max-width: 768px) {
    .Footer__wrapper {
        padding: 5px;
    }
    .Footer__wrapper h2 {
        font-size: 2.5rem;
        margin-left: 0;
    }
    .header_foter_text {
        font-size: 1rem;
    }
    .number_list {
        transform: translateX(-5px);
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .Footer__wrapper h2 {
        font-size: 2rem;
        margin-left: 0;
    }
    .header_foter_text {
        font-size: .8rem;
    }
    .wrapper__footer_item p {
        font-size: .8rem !important;
        margin: 5px;
    }
    .number_list {
        font-size: .9rem;
        padding: 5px;
    }
    .Footer__wrapper {
        height: 350px;
    }
}